## [ Visual Studio ]
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## [ .NET / C# ]
*.exe
*.dll
*.pdb
*.orig
*.log


## [ Windows ]
Thumbs.db
desktop.ini

## [ User specific files ]
*.user
*.userosscache
*.sln.docstates
